#dimmer{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#alertbox{
	background-color: white;
	height: fit-content;
	padding: 30px;
	margin: auto;
	border: 2px solid black;
	text-align: center;
}
#alertbox div{
	padding: 10px;
}
#alertbox form{
	text-align: center;
}
