body{
	margin: 0;
	background-color:blue;
}

img{
	width:100%;
}

#dimmer{
	position: absolute;
	top: 0px;
	left: 0px;
	/*background-color: black;*/
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#alertbox{
	background-color: white;
	height: fit-content;
	padding: 30px;
	margin: auto;
}

span{
	font-family: sans-serif;
	font-size: 13px;
}

#alertbox form{
	text-align: center;
}

#middle{
	width: 600px;
	height: 400px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#content{
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

#right{
	vertical-align: top;
	width: 250px;
	display:inline-flex;
	flex-direction: column;
	justify-content: space-between;
}

form{
	text-align: right;
	margin: auto;
}

input{
	 -webkit-appearance: none;
	width: 144px;
}

select{
	width: 144px;
	-webkit-appearance: none;
}

form div:first-child{
	padding: 8px 2px 4px 0px;
}

form div:last-child{
	padding: 4px 2px 8px 0px;
}

form div{
	padding: 4px 2px 4px 0px;
}

.box{
	width: 100%;
	background-color:white;
}

#left{
	width: 340px;
}
