body{
	margin: 0;
	background-color:blue;
}

#main{
		width: 600px;
		margin-top: 100px;
		margin-left: auto;
		margin-right: auto;
}

#panel{
	width: 100%;
	background-color: black;
}
#panel .active{
	background-color: blue;
}

.postform{
		display: flex;
}

form{
	margin: 0;
}

h3{
	margin: 0;
	margin-left: 10px;
	padding-top: 10px;
}

#panel span{
	cursor: pointer;
	display: inline-block;
	color: white;
	padding: 16px;
	margin-right: 10px;
}
#panel span:last-child{
	float: right;
}

#panel span:hover{
	color: yellow;
}

.content form div:first-child{
	padding-top: 10px;
	padding-bottom: 5px;
}
.content form div:last-child{
	padding-top: 5px;
	padding-bottom: 10px;
}
.content form div{
	margin-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
input{
	-webkit-appearance: none;
}

#browse{
	display:none;
}

#account{
	display: none;
}

.content{
	display: none;
	width: 100%;
	background-color: white;
}

#userinfo{
	background-color: white;
	position: absolute;
	margin-left: 615px;
	margin-top: 60px;
	padding: 10px;
}
#userinfo div{
	padding-top: 5px;
	padding-bottom: 5px;
}

#refresh{
	position: absolute;
	margin-left: 615px;
}
#refresh:hover{
	cursor: pointer;
	background-color: white;
}

.wall{
	width: 556px;
	border: 2px solid black;
	padding: 20px;
}
.wall div{
	border: 2px solid black;
	padding: 10px;
	margin-bottom: 20px;
	overflow: auto;
}

.hidden{
	display: none;
}

textarea{
	width: 100%;
}

#dimmer{
	position: absolute;
	top: 0px;
	left: 0px;
	/*background-color: black;*/
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#alertbox{
	background-color: white;
	height: fit-content;
	padding: 30px;
	margin: auto;
}
